/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

/* Mobile first */
.wrapper {
  min-height: 100vh;
  min-width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  margin-top: 10px;
  color: #333;
}

#output{
  display:flex;
  flex-flow: column;
  width:100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 210, 143);
  padding: 5%;
  /* display: grid;
  grid-template-columns: auto auto auto auto; */
}

#output div{
  text-align: center;
  width: 100%;
  margin:auto auto 10px auto;
}

p{
  width:100%;
}

#variants {
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: auto;
  background-color:rgba(107, 107, 107, 0.35);
}
@media screen and (min-width: 768px) {
  #variants {
    grid-template-columns: auto auto;
  }
}
@media screen and (min-width: 992px) {
  #variants {
    grid-template-columns: auto auto auto;
  }
}
@media screen and (min-width: 1280px) {
  #variants {
    grid-template-columns: auto auto auto auto;
  }
}

